<p>portfolio works!</p>
<section class="container" id="portfolio">
    <div class="main-title">
        <h2>My <span>Portfolio</span></h2>
    </div>
    <p class="port-text">
        Here is some of my work that I've done in various programming languages.
    </p>
    
    <div class="portfolios">
        
        <div class="portfolio-item">
            <div >
                <ul><li><h3>Attendance Management System</h3></li></ul>
                    <pre>       An attendance management system refers to an organization's approach to tracking employee time and attendance information. An accurate attendance and time tracking system helps you save time and effort in calculating your employees' working hours.</pre>
                    <ul><li><h3>Car Wash Management System</h3></li></ul>
                    <pre>        The car wash management system helps the owner to operate different tasks seamlessly including customer management, car booking, Promotions, running car services, multiple payment options.</pre>
            </div>
            <div class="hover-items">
                <h3>Project Source</h3>
                <div class="icons">
                    <a href="#https://github.com/1999-Anu" class="icon">
                        <i class="fab fa-github"></i>
                    </a>
                    
                </div>
            </div>
        </div>
        
      
      
    </div>
</section>
<app-contact></app-contact>